.DS_Store
*.o
*.d
.personalTODO
src/*.o

libs/SDL2-2.0.8/
libs/freetype-2.9/
libs/SDL2_ttf-2.0.15/

libs/installed_libs/bin/
libs/installed_libs/share/

libs/installed_libs/include/*
!libs/installed_libs/include/FMOD/

libs/installed_libs/lib/*
!libs/installed_libs/lib/FMOD/
libs/installed_libs/lib/FMOD/copied

.createcomponent_data/temp_*
.createcomponent_data/bu/*


libft/libft.a
libft/**.o
callgrind.out*
doom-nukem
log.txt
temp/.temp*
.vscode/