.DS_Store
*.o
*.d
.personalTODO
src/*.o

libs/SDL2-2.0.8/
libs/freetype-2.9/
libs/SDL2_ttf-2.0.15/

libs/installed_libs/bin/
libs/installed_libs/share/

libs/installed_libs/include/*
!libs/installed_libs/include/FMOD/

libs/installed_libs/lib/*
!libs/installed_libs/lib/FMOD/
libs/installed_libs/lib/FMOD/copied

.createcomponent_data/temp_*
.createcomponent_data/bu/*

coverage.py
asset_list_creator.sh

libft/libft.a
libft/**.o
lua-5.3.6/install/
lua-5.3.6/src/liblua.a
lua-5.3.6/src/lua
lua-5.3.6/src/luac
mapfile1
callgrind.out*
DoomNukem
doom-nukem
doomlog.txt
assets/temp/.temp*
.vscode/